<div class="row">
  <div class="col-12 col-md-8 col-lg-4 mx-auto">
    <div
      class="accordion accordion-flush rounded-15 shadow-sm card overflow-hidden mb-4"
      id="accordionFlushExample"
    >
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="true"
            aria-controls="flush-collapseOne"
          >
            Search ...
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body text-muted">
            <div class="form-floating is-valid mb-2">
              <select class="form-control" id="country">
                <option *ngFor="let item of provinceData">
                  {{ item.name }}
                </option>
              </select>
              <label for="country">From</label>
            </div>
          </div>
          <div class="accordion-body text-muted">
            <div class="form-floating is-valid">
              <select class="form-control" id="country">
                <option *ngFor="let item of provinceData">
                  {{ item.name }}
                </option>
              </select>
              <label for="country">To</label>
            </div>
          </div>
          <div class="accordion-body text-muted" style="float: right">
            <button
              type="button"
              class="btn btn-md btn-default mb-2 mx-2 shadow"
            >
              Find
            </button>
            <button type="button" class="btn btn-md btn-default mb-2 shadow">
              Reset
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="card shadow-sm mb-4" *ngFor="let item of [1, 2, 3, 4]">
      <div class="card-header">
        <h6 class="my-1">Nhà xe Minh Quý HN-36</h6>
      </div>
      <div class="card-body bg-light">
        <ul
          class="list-group list-group-flush w-100 bubble-sheet log-information"
        >
          <li class="list-group-item">
            <div class="avatar avatar-15 border-danger rounded-circle"></div>
            <p>
              <span class="text-color-theme">Thành phố Hà Nội</span>
            </p>
          </li>
          <li class="list-group-item">
            <span class="avatar avatar-15 border-warning rounded-circle"></span>
            <p>
              <span class="text-color-theme">Thành phố Thanh Hoá</span>
            </p>
          </li>
          <li class="list-group-item">
            <span class="avatar avatar-15 border-primary rounded-circle"></span>
            <p>
              <span class="text-color-theme">Số hành khách</span> <br /><small
                class="text-muted badge badge-success"
                >21</small
              >
            </p>
          </li>
          <li class="list-group-item">
            <span class="avatar avatar-15 border-dark rounded-circle"></span>
            <p>
              <span class="text-color-theme"> Giá vé</span> <br /><small
                class="text-muted badge badge-success"
                >200.000đ</small
              >
            </p>
          </li>
        </ul>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col">
            <h6 class="mb-0">15/05/2022 4:00</h6>
            <p class="text-muted small">Time</p>
          </div>
          <div class="col-auto" style="margin-right: 11px">
            <div class="card shadow-sm alert-danger">
              <div class="row">
                <div
                  routerLink="/ticket/detail/hfjhdjfh"
                  class="avatar avatar-40 bg-danger text-white rounded-circle"
                >
                  <i class="bi bi-bar-chart"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
