<div class="row">
  <div class="col-12 col-md-8 col-lg-4 mx-auto">
    <div
      class="accordion accordion-flush rounded-15 shadow-sm card overflow-hidden mb-2"
      id="accordionFlushExample"
    >
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="true"
            aria-controls="flush-collapseOne"
          >
            From
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body text-muted">
            <div class="form-floating is-valid mb-2">
              <ng-select
                [items]="provinceData"
                bindLabel="name"
                bindValue="id"
                [(ngModel)]="from"
              ></ng-select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="accordion accordion-flush rounded-15 shadow-sm card overflow-hidden mb-2"
      id="accordionFlushExample"
    >
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
            aria-expanded="true"
            aria-controls="flush-collapseTwo"
          >
            To
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingTwo"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body text-muted">
            <div class="form-floating is-valid mb-2">
              <ng-select
                [items]="provinceData"
                bindLabel="name"
                bindValue="id"
                [(ngModel)]="to"
              ></ng-select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="accordion accordion-flush rounded-15 shadow-sm card overflow-hidden mb-2"
      id="accordionFlushExample"
    >
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
            aria-expanded="true"
            aria-controls="flush-collapseTwo"
          >
            Time
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse1 collapse"
          aria-labelledby="flush-headingTwo"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body text-muted">
            <div class="text-muted">
              <!-- <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dp"
                ngbDatepicker
                #d1="ngbDatepicker"
                (click)="d1.toggle()"
                autocomplete="off"
                [(ngModel)]="startTime"
              /> -->
              <ion-datetime [(ngModel)]="startTime"></ion-datetime>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="my-2">
      <button
        type="button"
        (click)="findTrip()"
        class="btn btn-md btn-default mb-2 mx-2 shadow"
        [disabled]="!from || !to || !startTime"
      >
        Find
      </button>
      <button
        (click)="reset()"
        type="button"
        class="btn btn-md btn-default mb-2 shadow"
      >
        Reset
      </button>
    </div>

    <ion-content style="height: 100vh">
      <div class="text-center" *ngIf="tripData.length <= 0">
        <h3>Not trip</h3>
      </div>
      <div class="card shadow-sm mb-4" *ngFor="let item of tripData">
        <div class="card-header">
          <h6 class="my-1">{{ item?.company?.name }}</h6>
        </div>
        <div class="card-body bg-light">
          <ul
            class="list-group list-group-flush w-100 bubble-sheet log-information"
          >
            <li class="list-group-item">
              <div class="avatar avatar-15 border-danger rounded-circle"></div>
              <p>
                <span class="text-color-theme">{{
                  getProvince(item.from)
                }}</span>
              </p>
            </li>
            <li class="list-group-item">
              <span
                class="avatar avatar-15 border-warning rounded-circle"
              ></span>
              <p>
                <span class="text-color-theme">{{ getProvince(item.to) }}</span>
              </p>
            </li>
            <li class="list-group-item">
              <span
                class="avatar avatar-15 border-primary rounded-circle"
              ></span>
              <p>
                <span class="text-color-theme">Số hành khách</span> <br /><small
                  class="text-muted badge badge-success"
                  >{{ item?.guestCapacity }}</small
                >
              </p>
            </li>
            <li class="list-group-item">
              <span class="avatar avatar-15 border-dark rounded-circle"></span>
              <p>
                <span class="text-color-theme"> Giá vé</span> <br /><small
                  class="text-muted badge badge-success"
                  >{{ item.price | currency : "" : "" : "1.0" }}</small
                >
              </p>
            </li>
          </ul>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col">
              <h6 class="mb-0">
                {{ item.startTime | date : "dd/MM/YYYY hh:mm:ss" }}
              </h6>
              <p class="text-muted small">Time</p>
            </div>
            <div class="col-auto" style="margin-right: 11px">
              <div class="card shadow-sm alert-danger">
                <div class="row">
                  <div
                    [routerLink]="['/ticket/detail/', item._id]"
                    class="avatar avatar-40 bg-danger text-white rounded-circle"
                  >
                    <i class="bi bi-bar-chart"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>
  </div>
</div>
