<div class="card shadow-sm mb-4">
  <div class="card-header">
    <h6 class="my-1">Nhà xe Minh Quý HN-36</h6>
  </div>
  <div class="card-body bg-light">
    <ul class="list-group list-group-flush w-100 bubble-sheet log-information">
      <li class="list-group-item">
        <div class="avatar avatar-15 border-danger rounded-circle"></div>
        <p>
          <span class="text-color-theme">Thành phố Hà Nội</span>
        </p>
      </li>
      <li class="list-group-item">
        <span class="avatar avatar-15 border-warning rounded-circle"></span>
        <p>
          <span class="text-color-theme">Thành phố Thanh Hoá</span>
        </p>
      </li>
      <li class="list-group-item">
        <span class="avatar avatar-15 border-primary rounded-circle"></span>
        <p>
          <span class="text-color-theme">Số hành khách</span> <br /><small
            class="text-muted badge badge-success"
            >21</small
          >
        </p>
      </li>
      <li class="list-group-item">
        <span class="avatar avatar-15 border-dark rounded-circle"></span>
        <p>
          <span class="text-color-theme"> Giá vé</span> <br /><small
            class="text-muted badge badge-success"
            >200.000đ</small
          >
        </p>
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col">
        <h6 class="mb-0">15/05/2022 4:00</h6>
        <p class="text-muted small">Time</p>
      </div>
      <div class="col-auto" style="margin-right: 11px">
        <div class="card shadow-sm alert-danger">
          <div class="row">
            <div class="avatar avatar-40 bg-danger text-white rounded-circle">
              <i class="bi bi-bar-chart"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-12 col-md-6" *ngFor="let item of [1, 2, 3, 4]">
  <div class="card mb-3">
    <div class="card-body" style="margin-left: 11px">
      <div class="row">
        <div class="col align-self-center ps-0">
          <p class="small mb-1 text-muted">TYPE</p>
          <p>VIP</p>
        </div>
        <div class="col align-self-center ps-0">
          <p class="small mb-1 text-muted">NUMBER</p>
          <p>G1</p>
        </div>
        <div class="col align-self-center ps-0">
          <p class="small mb-1 text-muted">STATUS</p>
          <p>Empty</p>
        </div>
        <div class="col-auto align-self-center text-end ps-0">
          <p class="small mb-1 text-muted">PRICE</p>
          <p>600.000</p>
        </div>
        <div class="col-auto align-self-center ps-0">
          <button class="btn btn-default btn-44 shadow-sm">
            <input
              type="checkbox"
              style="height: 23px; width: 24px; margin-top: 9px"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mb-4">
  <div class="card-body">
    <div class="row mb-3">
      <div class="col-auto align-self-center">
        <img src="assets/img/masterocard.png" alt="" />
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h4 class="fw-normal mb-2">
          150.540.000.000.000
          <span class="small text-muted">VND</span>
        </h4>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-lg btn-default w-100 mb-4 shadow">
  Pay
</button>
