<div class="card shadow-sm mb-4">
  <div class="card-header">
    <h6 class="my-1">{{ getNameCompany(tripData?.company) }}</h6>
  </div>
  <div class="card-body bg-light">
    <ul class="list-group list-group-flush w-100 bubble-sheet log-information">
      <li class="list-group-item">
        <div class="avatar avatar-15 border-danger rounded-circle"></div>
        <p>
          <span class="text-color-theme">{{
            getProvince(tripData?.from)
          }}</span>
        </p>
      </li>
      <li class="list-group-item">
        <span class="avatar avatar-15 border-warning rounded-circle"></span>
        <p>
          <span class="text-color-theme">{{ getProvince(tripData?.to) }}</span>
        </p>
      </li>
      <li class="list-group-item">
        <span class="avatar avatar-15 border-primary rounded-circle"></span>
        <p>
          <span class="text-color-theme">Số hành khách</span> <br /><small
            class="text-muted badge badge-success"
            >{{ tripData?.guestCapacity }}</small
          >
        </p>
      </li>
      <li class="list-group-item">
        <span class="avatar avatar-15 border-dark rounded-circle"></span>
        <p>
          <span class="text-color-theme"> Giá vé</span> <br /><small
            class="text-muted badge badge-success"
            >{{ tripData?.price | currency : "" : "" : "1.0" }}</small
          >
        </p>
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col">
        <h6 class="mb-0">
          {{ tripData?.startTime | date : "dd/MM/YYYY hh:mm:ss" }}
        </h6>
        <p class="text-muted small">Time</p>
      </div>
      <div class="col-auto" style="margin-right: 11px">
        <div class="card shadow-sm alert-danger">
          <div class="row">
            <div class="avatar avatar-40 bg-danger text-white rounded-circle">
              <i class="bi bi-bar-chart"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button
  type="button"
  class="btn btn-lg btn-default w-100 mb-4 shadow"
  (click)="navigateWithState(tripData._id)"
>
  Book
</button>

<div class="col-12 col-md-6" *ngFor="let item of seatData">
  <div class="card mb-3">
    <div class="card-body" style="margin-left: 11px">
      <div class="row">
        <div class="col align-self-center ps-0">
          <p class="small mb-1 text-color-theme">TYPE</p>
          <p>{{ item.type === "VIP" ? "VIP" : "ECO" }}</p>
        </div>
        <div class="col align-self-center ps-0">
          <p class="small mb-1 text-color-theme">NUMBER</p>
          <p>{{ item.sku }}</p>
        </div>
        <div class="col align-self-center ps-0">
          <p class="small mb-1 text-color-theme">STATUS</p>
          <p>{{ item.status ? "Book" : "Empty" }}</p>
        </div>
        <div class="col-auto align-self-center text-end ps-0">
          <p class="small mb-1 text-color-theme">PRICE</p>
          <p>
            {{
              (item.type === "VIP" ? tripData.price * 1.2 : tripData.price)
                | currency : "" : "" : "1.0"
            }}
          </p>
        </div>
        <div class="col-auto align-self-center ps-0">
          <button class="btn btn-default btn-44 shadow-sm">
            <input
              type="checkbox"
              (click)="changeCheckedResultItem($event, item)"
              [disabled]="item.status"
              style="height: 23px; width: 24px; margin-top: 9px"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
